*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

body {
	color:white;
	background-color: #009966;
	font-family: Calibri;
	font-size: 20px;
	padding-left: 20px;

}

.navegacion{
	width: 570px;
	margin: auto;
	margin-top: 100px;
	background: #24303c;
	border-radius: 4px;
	box-shadow:  7px 13px 37px #000;

}

.navegacion ul{
	list-style: none;
}

.wx > li{
	position: relative;
	display: inline-block;
	}

.wx > li > a{
	display: block;
	padding: 19px 20px;
	color: white;
	font-family: Calibri;
	text-decoration: none;

}

.wx li a:hover{
	color: #009900;
	transition: all .3s;
}