.hola{
	background-color: #73C6B6;
}

.btn_form{
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

 .btn_submit, .btn_reset {
 	width: 20%;
 	border-bottom: none;
 	background-color:green;
 	color: white;
 }

 .btn_reset {
 	background-color: blue;
 }

 .btn_submit:hover {
 	background-color: grey;
 }

 .btn_reset:hover {
 	background-color: #9AD1ED;
 }











  