body {
	color:white;
	background-color: #009966;
	padding-left: 22em;
	font-family: Calibri;
	font-size: 20px;

}

ul.wx {
	color:black;
	background-color:;
	padding: 1px;
}

ul.wx a{
	color: white;
	
}